.armycard-card{
    width: 100%;
    opacity: 100%;
    margin-top: 5%;
    color:664d1e;
    font-weight:bold;
    background-image: url('../../img/Gold.jpeg') !important;
    background-size: 100% !important;
}
.armycard-card:first-child{
    margin-top: 0;
}


.armycard-content{
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
}
.armycard-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.armycard-link:hover{
    color: red;
    text-decoration: none;
}