.armycard-card{
    width: 100%;
    background-color: rgb(153, 241, 20);
    opacity: 100%;
    margin-top: 5%;
}
.armycard-content{
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
}