.home-div-all{
    width: 100%;
    height: fit-content;
    min-height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/Back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    white-space: nowrap;
    padding-bottom: 40px;
    padding-top: 40px;
}
.home-div-cards{
    height: 82vh;
    width: 50vw;
    overflow-y:scroll;
}